ErrorDocument 404 http://localhost/portfolio/404.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ http://localhost/portfolio/404.php [L]
RewriteRule ^index$ http://localhost/portfolio/index.php [END]

