ErrorDocument 404 http://localhost/porto/404.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ http://localhost/porto/404.php [L]
RewriteRule ^index$ http://localhost/porto/index.php [END]

